body{
  background: #ecf0f1;
}
.hero{
  background: url('../img/bg.jpg') center fixed;
  height: 95vh;

}
.flex{
  display: flex;
  align-items: center;
}
.bg {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.hero h1{
  font-family: serif !important;
  /*text-transform: lowercase;*/
}
.order, .reserve {
    background: none;
    color: white;
    border: 2px solid;
    cursor: pointer;
}
.reserve:hover, .order:hover {
  background: #ecf0f1;
  transition: 0.5s ease;
  color: #3a3636;
}
.intro{
  background: #ecf0f1;
}
.featured{
  /*background: #343a40;*/
}
.carousel-content {
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}
.reviews{
  background: #343a40;
}
.text-white{
  color: #ecf0f1 !important;
}
.footer h3{
  margin: 20px 0;
  padding: 15px 10px;
  border: 2px solid;
  border-left: 0;
  border-right: 0;
}
/*.footer .col-xs-12:nth-of-type(2) h3 {
    text-align: center;
}
.footer .col-xs-12:last-child h3 {
    text-align: right !important;
}*/
.f-logo {
  width: 70%;
  margin: .7em auto;
  overflow: hidden;
  text-align: center;
  font-weight:300;
  color: #343a40;
}
.f-logo:before, .f-logo:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 2px solid;
}
.f-logo:after {
  margin: 0 -55% 0 .5em;
}
.f-logo span {
  display: inline-block;
  vertical-align: middle;
}
.f-text{
  letter-spacing: 7px;
  display: inline-block;
  font-weight: 900;
  margin-right: -7px;
}
.navbar-brand{
  letter-spacing: 6px;
}
a.nav-link {
    letter-spacing: 4px;
}
p{
  letter-spacing: 1.5px;
}
.row.equal-height {
    display: flex;
    flex-wrap: wrap;
}
.row.equal-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.card {
    flex: 1;
}
.text-dark a {
    /*color: #343a40;*/
    /*background: #dfe4e4;*/
    /*margin: 0 5px;*/
    /*border-bottom: 1px solid #343a40;*/
}
.text-dark a {
    color: #343a40;
    margin: 0 5px;
    font-family: monospace;
    font-weight: 900;
    border-bottom: 1px solid transparent;
}
.text-dark a:hover{
   background: #dfe4e4;
   border-bottom: 1px solid #343a40;
   /*font-size: 1.2rem;*/
}
img.g-scale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: 0.7s ease;
}
img.g-scale:hover{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: 0.7s ease;
}
