body{
  background: #ecf0f1;
}
.hero{
  background: url('../img/bg.jpg') center fixed;
  height: 95vh;

}
.flex{
  display: flex;
  align-items: center;
}
.bg {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.hero h1{
  font-family: serif !important;
  /*text-transform: lowercase;*/
}
.order, .reserve {
    background: none;
    color: white;
    border: 2px solid;
    cursor: pointer;
}
.reserve:hover, .order:hover {
  background: #ecf0f1;
  transition: 0.5s ease;
  color: #3a3636;
}
.intro{
  background: #ecf0f1;
}
.featured{
  /*background: #343a40;*/
}
